/* *{
    margin: 0;
    border: 0;
    box-sizing: border-box;
   

}

.navbar-section{
    background-color: #ebe9ef;
    z-index: 0;
    margin-left: 220px;
    text-align: center;
    height: 75px;
    padding-top: 20px;
    
    position: relative;
    bottom: 80px;
    right: 219px; 
     width: 100%;
}


.sidebar-section{
    background-color: #4070f4;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
}

.sidebar-elements{
    padding-top: 50px;
    padding-left: 20px;
}

.sidebar-logo{
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}

.icon-path{
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    gap: 27px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

i{
    color: white;
    font-size: 16px;
} */

#logo{
    color: white;
    margin-left: 28px;
    margin-top: 8px;
}

#icon-user{
    font-size: 22px;
    margin-top: 5px;
   
}
#icon-user-submenu{
    font-size: 28px;
    margin-top: 10px;
    margin-left: 13px;
   
}

#dropdown-item{
    font-size: 15px;
}
